<div class="w-full h-10 bg-slate-600 text-3xl">Hallo</div>

<!-- <nav class="h-fit bg-red-600">
  <div class="container navbar-container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-dark.png" width="180px" />
    </a>
    <input type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav> -->
